### Go ###

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib
create-react-tsx-component

# Test binary, built with `go test -c`
*.test

# Go workspace file
go.work

### Go Patch ###
/vendor/
/Godeps/
