import { renderHook } from '@testing-library/react'
import { {{.Name}}, type Props } from './{{.FileName}}'

describe('{{.Name}}', () => {
  it('should ...', () => {
    const { result } = renderHook(() => {{.Name}}(...))
    expect(result.current).toBe(...)
  })
})
