import { ReactElement } from 'react';

{{if .WithTest}}export {{end}}interface {{.Name}}Props {
  title: string
}

const {{.Name}} = ({ title }: {{.Name}}Props): ReactElement => {
  return (
    <div>{title}</div>
  )
}

export default {{.Name}}
